{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pantheon</title>
  <link rel="stylesheet" href="{% static 'pantheon/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'pantheon/css/custom.css' %}"/>
  <link rel="stylesheet" href="{% static 'pantheon/css/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
</head>

<body>
  <!-- Navigation -->
  {% include "pantheon/navigation.html" %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Summary of Results</h3>
        <p>
        We summarize the performance of each scheme using the metric
        <b>log(mean throughput / mean 95th percentile delay)</b> (a
	version of Kleinrock's power metric).
        </p>

        <p>
        For each test, the highest-power scheme is shown in light green, and
        the lowest-power scheme is in black.
        </p>
        <div id="color-grad">
          <span class="left">Best</span>
          <span class="right">Worst</span>
        </div>
        <br/>
        <p><i>
        <span class="white-box"></span>  represents no data available,
        either if the scheme did not run, or failed during tests.
        This summary includes only single-flow experiments; for individual
        results (including multi-flow experiments) please see the
        <a href="{% url 'measurements' expt_type='node' %}">Find Results</a>
        tab.
        </i></p>
      </div>
    </div>
  </div>

  <table id="rankings" class='table table-bordered table-hover'>
    <thead>
      <tr>
        <th class="expt-date" scope="col">Date (UTC)</th>
        <th class="expt-desc" scope="col">Description</th>
        {% for scheme in scheme_set %}
        <th class="rotate" scope="col">
          <div><span>{{ scheme_names|get_item:scheme }}</span></div>
        </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for expt_id, expt_val in data.items %}
      <tr>
        {% with metadata_i=metadata|get_item:expt_id %}
        <th class="expt-data" scope="row">
          <a href="{% url 'result' result_id=expt_id %}">
            {{ metadata_i.time_created }}
          </a>
        </th>

        <td class="expt-desc" scope="row">
          {{ metadata_i.desc }}
        </td>
        {% endwith %}

        {% for scheme in scheme_set %}
          {% with s=expt_val|get_item:scheme %}
          {% if s and s.score and s.tput and s.delay and s.loss and s.color %}
          <td class="color"
              data-content="Score: {{s.score}}<br>
                            Tput: {{s.tput}} Mbps<br>
                            Delay: {{s.delay}} ms<br>
                            Loss: {{s.loss}}%"
              data-html="true"
              style="background-color: rgb{{s.color}}">
          </td>
          {% else %}
          <td style="background-color: rgb(255, 255, 255)"></td>
          {% endif %}
          {% endwith %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination -->
  {% include "pantheon/pagination.html" %}

  <!-- Footer -->
  {% include "pantheon/footer.html" %}

  <script src="{% static 'pantheon/js/popper.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'pantheon/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'pantheon/js/summary.js' %}"></script>
</body>

<html>
